PRIVATE_KEY=your_deployer_private_key_hex
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASESCAN_API_KEY=your_basescan_api_key
METADATA_BASE_URI=https://zyntrixsolutions.github.io/okamaos/metadata/{id}.json
